<h1>Titre de ma premiere page symfony</h1>
<pre>
    Ceci est un paragraphe de textes qui illustre le fonctionnement
    d'une vue avec symfony et twig.
    Pour le moment il ne s'agit que d'une simple page html
</pre>